{% extends 'base.html' %}
{% block content %}
<section class="py-12 bg-white dark:bg-gray-800 text-gray-800 dark:text-gray-200">
  <div class="container mx-auto">
    <h1 class="text-4xl font-bold mb-6 text-primary">About IEEE-HKN Beta Epsilon Chapter</h1>
    <p class="text-lg text-gray-700 dark:text-gray-300 leading-relaxed">
      IEEE-Eta Kappa Nu (IEEE-HKN), the honor society of IEEE, promotes excellence in the profession and in education with ideals of Scholarship, Character and Attitude.
    </p><br>
    <p class="text-lg text-gray-700 dark:text-gray-300 leading-relaxed">
      Founded on 28 October 1904, HKN promotes professional accomplishment, service to others, and leadership development for students and professionals in electrical engineering, computer engineering, and other IEEE fields of interest. With its merger in 2010 with IEEE, the honor society now has over 200,000+ members in more than 250 Chapters around the globe.
    </p><br>
    <p class="text-lg text-gray-700 dark:text-gray-300 leading-relaxed">
      The Beta-Epsilon chapter of Eta Kappa Nu (HKN) is composed of the top electrical, computer, and computer science engineers at the University of Michigan. We serve our community by operating the fully student-run dB Cafe, holding community service projects around Ann Arbor, and organizing community events to encourage collaboration among the students and faculty. In addition, we collaborate with companies to speak at our meetings, as well as host tech talks for the general campus community. Lastly, we like to have fun - so we have plenty of game nights, trips to laser tag, and so much more!
    </p>
    <h2 class="text-3xl font-semibold mt-8 mb-4">Our Mission</h2>
    <p class="text-gray-700 dark:text-gray-300">
      To develop the next generation of leaders in engineering by promoting scholarship, community, and professional excellence.
    </p>
  </div>
</section>
{% endblock %}
