{% extends 'base.html' %}
{% block content %}
<section class="py-12 bg-white dark:bg-gray-800 text-gray-800 dark:text-gray-200">
  <div class="container mx-auto">
    <h1 class="text-4xl font-bold text-primary mb-6">Tutoring Services</h1>
    <p class="text-lg text-gray-700 leading-relaxed  dark:text-gray-300">
      Our tutoring program provides group support for EECS courses. Whether you're struggling with a concept or preparing for exams, our knowledgeable tutors are here to help.
    </p>
    <p>
      We host Drop-In Tutoring usually every Wednesday from 4:30 - 6:30 pm ET. You can join using <a href="https://www.google.com/url?q=https%3A%2F%2Fumich.zoom.us%2Fj%2F91321432335">this Zoom link</a>.
    </p>
    <h2 class="text-3xl font-bold mb-6">Calendar</h2>
    <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FDetroit&showPrint=0&mode=AGENDA&src=dW1pY2guZWR1X3UyOGp1Y3VtdTN2aWN1NGRmc2lmMG9wZzYwQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23ef6c00" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    <a href="mailto:hkn-projects@umich.edu" class="text-primary underline">
      Contact Us for Tutoring Availability
    </a>
  </div>
</section>
{% endblock %}
