{% extends 'base.html' %}
{% block content %}
<section class="py-12 bg-white dark:bg-gray-800 text-gray-800 dark:text-gray-200">
  <div class="container mx-auto">
    <h1 class="text-4xl font-bold text-primary mb-6">Tutoring Services</h1>
    <p class="text-lg text-gray-700 leading-relaxed  dark:text-gray-300">
      Starting Wednesday (10/15) we will be hosting virtual drop-in tutoring from 4:30 to 6:30 p.m. Courses tutored will be mainly lower-level CS and EE courses, including, but not limited to, ENGR 101, EECS 280, EECS 281, EECS 215, EECS 216, and EECS 270. 
    </p>
    <p>
      There is no sign up necessary and you can join at <a href="https://umich.zoom.us/j/91321432335">this Zoom link</a>. Drop-in tutoring will be happening every Wednesday from now until the end of the semester at that same time and Zoom meeting.
    </p>
    <h2 class="text-3xl font-bold mb-6">Calendar</h2>
    <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FDetroit&showPrint=0&mode=AGENDA&src=dW1pY2guZWR1X3UyOGp1Y3VtdTN2aWN1NGRmc2lmMG9wZzYwQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23ef6c00" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    <a href="mailto:hkn-projects@umich.edu" class="text-primary underline">
      Contact Us for Tutoring Availability
    </a>
  </div>
</section>
{% endblock %}
